{{!
/**
 * TEMPLATE VARIABLES
 *
 * @var string global_hello_name
 * @var string name
 * @var string phone
 * @var string email
 */
}}
<hr />
<h2>
	Contact page content
</h2>
<p>
	Name:
	<span class="name">{{name}}</span>
</p>
<p>
	Phone:
	<a href="tel:{{phone}}" class="phone">{{phone}}</a>
</p>
<p>
	Email:
	<a href="mailto:{{email}}" class="phone">{{email}}</a>
</p>
<hr />
